@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/RegistroSocios.js"></script>
<script src="~/Scripts/Views/Map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4aNZIQyvam7h8Zmdq8ldZ_7sdtVGcwtE&callback=initMap" defer></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

@{ ViewBag.Title = "RegistroSocios"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Registro Usuarios</h1>

<div class="registroUsuario">
    <form id="frmRegistro">
        @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre de la Empresa", columnDataName: "Nombre")
        @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo")
        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula Juridica", columnDataName: "Cedula")
        @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Telefono", columnDataName: "Telefono")
        <h4>Personeria Juridica</h4>
        @Html.CtrlButton(viewName: "RegistroSocios", id: "btnPersoneria", label: "Subir", onClickFunction: "SubirPersoneria", buttonType: "success")
        <div class="alert-danger" id="alertPersoneria" style="display: none; margin: 10px; height: 30px; padding: 5px; font-weight: bold; width: 300px ">
            !! Tienes que subir el documento
        </div>
        <div class="alert-success" id="alertVerificarPersoneria" style="display: none; margin: 10px; height: 30px; padding: 5px; font-weight: bold; width: 300px ">
            !! Documento subido
        </div>
        <h4>Permiso de Operaciones</h4>
        @Html.CtrlButton(viewName: "RegistroSocios", id: "btnOperaciones", label: "Subir", onClickFunction: "SubirOperaciones", buttonType: "success")
        <div class="alert-danger" id="alertOperaciones" style="display: none; margin: 10px; height: 30px; padding: 5px; font-weight: bold; width: 300px ">
            !! Tienes que subir el documento
        </div>
        <div class="alert-success" id="alertVerificarOperaciones" style="display: none; margin: 10px; height: 30px; padding: 5px; font-weight: bold; width: 300px">
            !! Documento subido
        </div>
        <div style="height:20px"></div>
        @Html.CtrlInput(id: "txtContrasenna", type: "password", label: "Contraseña", columnDataName: "ContrassenaActual")
        <div class="alert-info" id="ContrasennaSegura" style="width: 350px; height: auto; display: none;">
            La Contraseña debe tener minimo 8 caracteres:
            <br />
            .Mayusculas y Minusculas
            <br />
            .Almenos un caracter especial
            <br />
            .Almenos un numero
        </div>
        @Html.CtrlInput(id: "txtContrasenna2", type: "password", label: "Repetir Contraseña", columnDataName: "")
        <div style="height:20px"></div>
    </form>
</div>
<div class="alert-danger" id="alert" style="display:none; margin:10px;height:30px;padding:5px;font-weight:bold">
    !! Verifique que los campos esten llenos y con un formato correcto
</div>
<div id="map" style="height:300px">

</div>
<div style="height:50px">

</div>

<div class="registroUsuario">
    @Html.CtrlButton(viewName: "RegistroSocios", id: "btnCreate", label: "Registrar", onClickFunction: "Create", buttonType: "success")
    @Html.CtrlButton(viewName: "RegistroSocios", id: "btnLimpiar", label: "Limpiar", onClickFunction: "Limpiar", buttonType: "reset")
</div>