@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/RegistroUsuariosFinales.js"></script>
<script src="~/Scripts/Views/Map.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4aNZIQyvam7h8Zmdq8ldZ_7sdtVGcwtE&callback=initMap" defer></script>

@{ ViewBag.Title = "RegistroUsuariosFinales"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1 style="text-align:center;margin-bottom:50px;">Registro Usuarios</h1>

<div class="registroUsuario">
    <form id="frmRegistro">
        <div class="row">
            <div class="col-xs-6">

                @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre")
                @Html.CtrlInput(id: "txtApellido", type: "text", label: "Apellido", columnDataName: "Apellidos")
                @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo")
                @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula", columnDataName: "Cedula")
                @Html.CtrlInput(id: "txtFechaNacimiento", type: "date", label: "Fecha de Nacimiento", columnDataName: "FechaNacimiento")
                @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Telefono", columnDataName: "Telefono")
                @Html.CtrlInput(id: "txtContrasenna", type: "password", label: "Contraseña", columnDataName: "ContrassenaActual")
                @Html.CtrlInput(id: "txtContrasenna2", type: "password", label: "Repetir Contraseña", columnDataName: "")
                </div>
            <div class="col-xs-6">
                <div id="map" style="height:500px; width:auto;border: 1px solid black;margin-top:30px"></div>
                <div>
                    <button id="EliminarMarcador">Eliminar Marcador</button>
                    <button id="UbicacionActual">Cargar Ubicacion Actual</button>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="alert-danger" id="alert" style="display:none; margin:10px;height:30px;padding:5px;font-weight:bold">
                !! Verifique que los campos esten llenos y con un formato correcto
            </div>
        </div>



</form>
</div>

<div style="height:50px">

</div>
<div class="registroUsuario">
    @Html.CtrlButton(viewName: "RegistroUsuariosFinales", id: "btnCreate", label: "Registrar", onClickFunction: "Create", buttonType: "success")
    @Html.CtrlButton(viewName: "RegistroUsuariosFinales", id: "btnLimpiar", label: "Limpiar", onClickFunction: "Limpiar", buttonType: "reset")
</div>

