
@using WebApp.Models.Helpers;

<script src="~/Scripts/Views/Administrador.js"></script>

@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main role="main">
    <h2 class="title-page">Panel de Control</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="jumbotron">
                            <h2>
                                Usuarios
                            </h2>
                            <p>
                                Administradores: <label id="lblAdmin"></label>
                            </p>
                            <p>
                                Socios: <label id="lblSocios"></label>
                            </p>
                            <p>
                                Empresas: <label id="lblEmpresas"></label>
                            </p>
                            <p>
                                Usuarios finales: <label id="lblFinales"></label>
                            </p>

                           

                            <p>
                                @Html.ActionLink("Ver reporte completo", "Usuarios", "Home", new { @class = "btn btn-primary btn-lg" })
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron fin">
                            <h2>
                                Ganancias/Pérdidas
                            </h2>
                            <p>
                                Ingresos: ₡<label id="lblIngresos"></label>
                            </p>
                            <p>
                                Egresos: ₡<label id="lblEgresos"></label>
                            </p>
                            <p>
                                <label id="lblGanancias"></label>: ₡<label id="lblGananciasMonto"></label>
                            </p>
                            <p>
                                @Html.ActionLink("Ver reporte completo", "Finanzas", "Home", new { @class = "btn btn-primary btn-lg" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-card">
                @Html.CtrlTable(viewName: "Administrador", id: "tblMembresias", title: "Membresias",
                   columnsTitle: "Id,Nombre,Monto Mensual,Comisión Transacción, Fecha Creación, Número de Días", ColumnsDataName: "Id,Nombre,MontoMensual,ComisionTransaccion,FechaCreacion,NumDias",
                   onSelectFunction: "BindFieldsMembresia", colorHeader: "red")
                <div class="card border-secondary" style="margin-top: 50px;">

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="bs-component">
                                <form id="frmMembresia">
                                    @Html.CtrlInput(id: "txtIdMembresia", type: "text", label: "Id", columnDataName: "Id", readOnly: "readonly")
                                    @Html.CtrlInput(id: "txtFechaCreacionMembresia", type: "text", label: "Fecha Creación", columnDataName: "FechaCreacion", readOnly: "readonly")
                                    @Html.CtrlInput(id: "txtNombreMembresia", type: "text", label: "Nombre", columnDataName: "Nombre")
                                    @Html.CtrlInput(id: "txtMontoMensualMembresia", type: "text", label: "Monto Mensual (en colones)", columnDataName: "MontoMensual")
                                    @Html.CtrlInput(id: "txtComisionTransaccionMembresia", type: "text", label: "Comisión Transacción (porcentaje)", columnDataName: "ComisionTransaccion")
                                    @Html.CtrlInput(id: "txtNumDiasMembresia", type: "text", label: "Número de días", columnDataName: "NumDias")

                                </form>
                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.CtrlButton(viewName: "Administrador", id: "btnCreMembresia", label: "Guardar Nuevo", onClickFunction: "CreMembresia", buttonType: "success")
                            @Html.CtrlButton(viewName: "Administrador", id: "btnUpdMembresia", label: "Actualizar", onClickFunction: "UpdMembresia", buttonType: "info")
                            @Html.CtrlButton(viewName: "Administrador", id: "btnDelMembresia", label: "Eliminar", onClickFunction: "DelMembresia", buttonType: "danger")
                            @Html.CtrlButton(viewName: "Administrador", id: "btnLimpiar", label: "Limpiar", onClickFunction: "Limpiar", buttonType: "primary")
                        </div>
                    </div>
                    <div class="alert-danger" id="alert" style="display:none; margin:10px;height:30px;padding:5px;font-weight:bold">
                        Verifique que los campos estén llenos y con un formato correcto
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>