@model IEnumerable<Entities_POJO.Reserva>


@{
    ViewBag.Title = "ListaReservas";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Lista Reservas</h2>

<table class="table table-hover table-striped" id="tabla-reservas">
    <tr>
        <th>ID_VEHÍCULO</th>
        <th>FECHA RESERVA</th>
        <th>DÍA</th>
        <th>HORA INICIO</th>
        <th>HORA FINAL</th>
        <th>ESTADO</th>
        <th>CARGOS</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td id="id-vehiculo">@item.Id_Vehiculo</td>
            <td id="fecha-reserva">@{var fecha = item.FechaReserva.ToString() + "-" + item.FechaReserva.Month.ToString() + "-" + item.FechaReserva.Day.ToString();}@fecha</td>
            <td>@item.FechaReserva.DayOfWeek</td>
            <td id="hora-inicio">@item.HoraInicio</td>
            <td id="hora-fin">@item.HoraFin</td>
            <td id="estado">@item.Solicitud</td>
            <td id="estado">@{var total = item.Tarifa + item.Comision + item.Entrega + item.KmExcedido + item.MalEstado;}@total</td>
        </tr>
    }
</table>

