@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/Solicitudes.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
@{ ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<main>
    <h2 class="title-page">Solicitudes</h2>

    <div class="row">

        <div class="col-md-12 table-card">

            @Html.CtrlTable(viewName: "Solicitudes", id: "tblUsuarios", title: "Solicitudes Pendientes",
                                                     columnsTitle: "Cédula,Nombre,Apellidos,Correo,Edad,Teléfono,Estado", ColumnsDataName: "Cedula,Nombre,Apellidos,Correo,Edad,Telefono,Estado",
                                                     onSelectFunction: "BindFieldsUsers", colorHeader: "red")

        </div>
        <div class="col-md-12 table-card">

            @Html.CtrlTable(viewName: "Solicitudes", id: "tblMembresias", title: "Elegir Membresia",
                                        columnsTitle: "Id,Nombre,Monto Mensual,Comisión Transacción, Fecha Creación, Número de Días", ColumnsDataName: "Id,Nombre,MontoMensual,ComisionTransaccion,FechaCreacion,NumDias",
                                        onSelectFunction: "BindFieldsMembresia", colorHeader: "red")
        </div>
    </div>
    <div class="row table-card">
        <div class="card border-secondary" style="margin-top: 50px;">


            <div class="col-md-6">
                <div class="bs-component frm">
                    <form id="frmUsers">
                        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula", columnDataName: "Cedula", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtApellidos", type: "text", label: "Apellidos", columnDataName: "Apellidos", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtEdad", type: "text", label: "Edad", columnDataName: "Edad", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Telefono", columnDataName: "Telefono", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtEstado", type: "text", label: "Estado", columnDataName: "Estado", readOnly: "readonly")

                    </form>
                </div>
            </div>



        </div>
        <div class="card border-secondary" style="margin-top: 50px;">


            <div class="col-md-6">
                <div class="bs-component frm">
                    <form id="frmMembresia">
                        @Html.CtrlInput(id: "txtIdMembresia", type: "text", label: "Id", columnDataName: "Id", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtFechaCreacionMembresia", type: "text", label: "Fecha Creación", columnDataName: "FechaCreacion", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtNombreMembresia", type: "text", label: "Nombre", columnDataName: "Nombre", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtMontoMensualMembresia", type: "text", label: "Monto Mensual", columnDataName: "MontoMensual", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtComisionTransaccionMembresia", type: "text", label: "Comisión Transacción", columnDataName: "ComisionTransaccion", readOnly: "readonly")
                        @Html.CtrlInput(id: "txtNumDiasMembresia", type: "text", label: "Número de días", columnDataName: "NumDias", readOnly: "readonly")

                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-12 text-center">
            @Html.CtrlButton(viewName: "Solicitudes", id: "btnAceptar", label: "Aceptar", onClickFunction: "Aceptar", buttonType: "success")
            @Html.CtrlButton(viewName: "Solicitudes", id: "btnRechazar", label: "Rechazar", onClickFunction: "Rechazar", buttonType: "danger")
            @Html.CtrlButton(viewName: "Solicitudes", id: "btnLimpiar", label: "Limpiar", onClickFunction: "Limpiar", buttonType: "info")
        </div>
        <div class="col-md-12">
            <div class="alert-danger" id="alert-d" style="display:none; margin:10px;height:30px;padding:5px;font-weight:bold">
                Verifique que los campos estén llenos
            </div>
            <div class="alert-success" id="alert-s" style="display:none; margin:10px;height:30px;padding:5px;font-weight:bold">
                Membresía enviada con éxito
            </div>
        </div>
        
    </div>

</main>

