@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/Usuarios.js"></script>
@{ ViewBag.Title = "Administrador";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<main>
    <h2 class="title-page">Usuarios</h2>

    <div class="row">

        <div class="col-md-12 table-card">

            @Html.CtrlTable(viewName: "Usuarios", id: "tblUsuarios", title: "Usuarios",
                                 columnsTitle: "Cédula,Nombre,Apellidos,Correo,Edad,Teléfono,Estado", ColumnsDataName: "Cedula,Nombre,Apellidos,Correo,Edad,Telefono,Estado",
                                 onSelectFunction: "BindFieldsUsers", colorHeader: "red")
            <div class="card border-secondary" style="margin-top: 50px;">

                <div class="row">
                    <div class="col-md-6">
                        <div class="bs-component">
                            <form id="frmUsers">
                                @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cedula", columnDataName: "Cedula", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtApellidos", type: "text", label: "Apellidos", columnDataName: "Apellidos", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtCorreo", type: "text", label: "Correo", columnDataName: "Correo", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtEdad", type: "text", label: "Edad", columnDataName: "Edad", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Telefono", columnDataName: "Telefono", readOnly: "readonly")
                                @Html.CtrlInput(id: "txtEstado", type: "text", label: "Estado", columnDataName: "Estado", readOnly: "readonly")

                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <!--Html.CtrlButton(viewName: "Usuarios", id: "btnDesactivar", label: "Desactivar", onClickFunction: "Desactivar", buttonType: "danger")-->
                        @Html.CtrlButton(viewName: "Usuarios", id: "btnLimpiar", label: "Limpiar", onClickFunction: "Limpiar", buttonType: "primary")

                    </div>
                </div>

            </div>
        </div>
  


    </div>
</main>

