<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RentNRide.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RentNRide.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!---<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <li>@Html.ActionLink("Iniciar Sesión", "InicioSesion", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application-hola</p>
        </footer>-->
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
                </div>
                <div class="col-md-4">
                    <h5>Registros</h5>
                    <ul class="list-unstyled text-small">
                        <li>@Html.ActionLink("Socios", "RegistroSocios", "Home")</li>
                        <li>@Html.ActionLink("Usuarios finales", "RegistroUsuariosFinales", "Home")</li>
                        <li>@Html.ActionLink("Vehiculo add", "VehiculoInfo", "Home")</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Buscar vehículos</h5>
                    <ul class="list-unstyled text-small">
                        <li>@Html.ActionLink("Inicio sesión", "InicioSesion", "Home")</li>
                    </ul>
                </div>
                <!--<div class="col-md-3">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
